<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Suniljobs - Continuous updates for every Hour</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/jobs.css'%}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Suniljobs</h1>
        <p>Continuous Job Updates For Every Hour....</p>
         <a class="btn btn-primary btn-lg" href="{% url 'hyd'%}" role="button">HydraBad Jobs</a>
          <a class="btn btn-primary btn-lg" href="{% url 'bang'%}" role="button">Banglore Jobs</a>
           <a class="btn btn-primary btn-lg" href="{% url 'pune'%}" role="button">Pune Jobs</a>
      </div>
    </div>
  </body>
</html>
